@import "base/mixins";

.g-page{
  width:750px;
  margin: 0 auto;
  @include clearfix;
}
//标题
.g-title{
  width:560px;
  height:59px;
  margin:32px auto;
  background-image:url("img/info_title_left.png"), url("img/info_title_right.png");
  background-position:0 0,448px 0 ;
  background-repeat: no-repeat;
  background-size: contain;
  h1{
    width:338px;
    height:59px;
    line-height:59px;
    margin: 0 auto;
    font-size: 36px;/*px*/
    text-align: center;
    color:#ffffff;
    background-color:#58b415;
  }
}
//产品介绍
.g-produce{
  width:100%;
  height:730px;
  @include clearfix;
  .g-produce__item{
    width:702px;
    height:586px;
    margin:0 24px;
    .g-produce__item--trusteeship,
    .g-produce__item--learning,
    .g-produce__item--training{
      display: block;
      width:100%;
      height:180px;
    }
    .g-produce__item--trusteeship{
       margin-bottom:24px;
       background-image: url("img/produce01.jpg");
       background-repeat: no-repeat;
       background-size: contain;
     }
    .g-produce__item--training{
      margin-bottom:24px;
      background-image: url("img/produce02.jpg");
      background-repeat: no-repeat;
      background-size: contain;
    }
    .g-produce__item--learning{
      background-image: url("img/produce03.jpg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}
//合作支持
.g-support{
  width:100%;
  height:820px;
  @include clearfix;
  .g-support__body{
    width:100%;
    height:633px;
    overflow: hidden;
    .swiper-slide{
      width:460px;
      height:570px;
      img{
        width:460px;
        height:570px;
      }
    }
  }
}