@import "base/mixins";
.g-page{
  @include clearfix;
  width:750px;
  margin: 0 auto;
}
//标题
.g-title{
  width:600px;
  height:76px;
  margin:32px auto;
  background-image:url("img/literature-title-left-s.png"), url("img/literature-title-right-s.png");
  background-position:0 0,525px 0 ;
  background-repeat: no-repeat;
  background-size: contain;
  h1{
    width:450px;
    height:76px;
    line-height:76px;
    margin: 0 auto;
    font-size: 36px;/*px*/
    text-align: center;
    color:#ffffff;
    background-color:#58b415;
  }
}
.g-list {
  @include clearfix;
  width: 726px;
  margin: 0px 12px 0px;
  .item {
    @include clearfix;
    .g-list__item {
      display: block;
      float: left;
      width: 339px;
      height: 271px;
      margin: 0px 12px 24px 12px;
    }
  }
  .g-list__bulletin{
    text-align:center;
    margin-bottom:114px;
    font-size:30px;/*px*/
    color:#888888;
  }
}