@import "base/mixins";
.g-page{
  @include clearfix;
  width:750px;
  margin: 0 auto;
}
//标题
.g-title{
  width:560px;
  height:76px;
  margin:32px auto;
  background-image:url("img/literature-title-left.png"), url("img/literature-title-right.png");
  background-position:0 0,448px 0 ;
  background-repeat: no-repeat;
  background-size: contain;
  h1{
    width:338px;
    height:76px;
    line-height:76px;
    margin: 0 auto;
    font-size: 36px;/*px*/
    text-align: center;
    color:#ffffff;
    background-color:#58b415;
  }
}